:root {
  --background: #1f2336;
  --box-background: #313852;
  --secondary: #f1f1f1;
  --primary: #f4bd50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100dvh;
  display: flex;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
}

.box {
  background-color: var(--box-background);
  padding: 24px;
  max-width: fit-content;
  width: 100%;
  padding-top: 12px;
  border-radius: 16px;
}

.box h2 {
  margin: 0px;
  font-weight: 400;
  font-size: 1.5rem;
}

.inputWrapper {
  position: relative;
  padding: 15px 0 0;
}

.inputUsername,
.inputPassword {
  outline: 1.5px solid var(--secondary);
  font-size: 1rem;
  border-radius: 8px;
  color: var(--secondary);
  padding: 8px;
  border: none;
  padding-right: 32px;
  background: transparent;
  transition: all 0.2s;
}

.inputUsername::placeholder,
.inputPassword::placeholder {
  /* color: var(--secondary); */
  color: transparent;
  /* transform: translateY(0);
  font-size: 1rem;
  transition: transform 0.3s ease-out, font-size 0.3s ease-out; */
}

input:focus::placeholder,
input:not(:placeholder-shown)::placeholder {
  color: transparent;
  transform: translateY(-100%);
  font-size: 0.8rem;
}

/* .labelUsername,
.labelPassword {
  display: none;
} */

.inputUsername:placeholder-shown ~ .labelUsername,
.inputPassword:placeholder-shown ~ .labelPassword {
  font-size: 1rem;
  cursor: text;
  color: var(--secondary);
  top: 24px;
}

.inputUsername:focus ~ .labelUsername {
  position: absolute;
  top: 6px;
  padding: 0 4px;
  background-color: var(--box-background);
  display: block;
  font-size: 14px;
  left: 8px;
  color: var(--secondary);
  transition: 0.3s;
}

label,
.inputUsername:focus ~ .labelUsername {
  position: absolute;
  top: 6px;
  padding: 0 4px;
  background-color: var(--box-background);
  display: block;
  font-size: 14px;
  left: 8px;
  color: var(--secondary);
  transition: 0.3s;
}

label,
.inputPassword:focus ~ .labelPassword {
  position: absolute;
  top: 6px;
  padding: 0 4px;
  background-color: var(--box-background);
  display: block;
  font-size: 14px;
  left: 8px;
  color: var(--secondary);
  transition: 0.3s;
}

.inputUsername:focus ~ .labelUsername,
.inputPassword:focus ~ .labelPassword {
  color: var(--primary);
}

.inputUsername:focus,
.inputPassword:focus {
  outline: 1.5px solid var(--primary);
}

.inputIcon {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 28px;
  height: 28px;
  transform: translate(-50%, -50%);
  transform-origin: center;
  cursor: pointer;
}

.inputWrapper:focus-within svg {
  fill: var(--primary);
}
